.about-content {
    display: flex;
    justify-content: space-evenly;
    margin: 0 14px;
    height: 55vh;
}

.about-content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 214x;
    width: 50%;
}

.about-content-text > h2 {
    margin: 0;
    font-size: 40px;
}

.about-content-text-bio {
    margin-left: 16px;
}

.about-content-text-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 16px;
}

.about-content-text-links a {
    width: fit-content;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    color: black;
    transition: 0.3s;
}

.about-content-text-links a:hover {
    border-bottom: 2px solid navy;
}

.about-content-img-container {
    width: 25%;
    min-height: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.about-content-img {
    max-width: 150%;
    min-height: 150%;
    margin-top: -40%;
    margin-left: -11%;
}
