.about-content {
    display: flex;
    justify-content: space-between;
    height: 55vh;
    margin: 0 4em;
}

.about-content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1em;
    width: max(45em, 60%);
}

.about-content-text > h2 {
    margin: 0;
}

.about-content-text-bio {
    margin-left: 1em;
    line-height: 1.3em;
}

.about-content-text-links {
    margin-left: 1em;
}

.about-content-text-links > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about-content-text-links > ul > li > a {
    display: flex;
    align-items: center;
    gap: 0.4em;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    width: fit-content;
    color: black;
    transition: 0.2s;
}

.about-content-text-links > ul > li > a:hover {
    border-bottom: 2px solid navy;
}

.about-content-text-links > ul > li > a > p {
    margin: 0;
}

.about-content-img-container {
    width: 25%;
    min-height: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.about-content-img {
    max-width: 150%;
    min-height: 150%;
    margin-top: -40%;
    margin-left: -11%;
}

@media screen and (max-width: 1044px) {
    .about-content {
        margin: 0;
    }

    .about-content-img-container {
        display: none;
    }
}
