.header {
    --bg-color: #282c34;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--bg-color);
}

.header-text-container {
    width: 100%;
}

.header-text-container > h1 {
    margin-bottom: 0;
    font-size: 3em;
}

.header-headshot-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min(55vw, 38vh);
}

.header-headshot-img-container {
    position: absolute;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    width: min(50vw, 20em);
}

.header-headshot-img {
    width: 100%;
    margin-top: -20%;
}

.header-headshot-div-bottom {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 50%;
    bottom: 0;
}
