.projectViewDesktop {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border: 1px solid black;
    height: 35em;
}

/* .projectViewDesktop-selector {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

.projectViewDesktop-selector::-webkit-scrollbar {
    display: none;
} */

.projectViewDesktop-selector {
    display: flex;
    flex-direction: column;
}

.projectViewDesktop-selector > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.projectViewDesktop-selector-item {
    background-color: lightgrey;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 1em 1.5em;
}

.projectViewDesktop-selector-item:hover {
    cursor: pointer;
    background-color: rgb(232, 232, 232);
}

.projectViewDesktop-selector-filler {
    border-right: 1px solid black;
    flex-grow: 1;
}

.projectViewDesktop-selector-item-focus {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 1em 1.5em;
}

.projectViewDesktop-detail {
    padding: 0.5em 1.5em;
}
